<div class="min-h-screen bg-gray-50 p-4 md:p-6">
  <!-- Page Header -->
  <h1 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4 md:mb-6">
    Products
  </h1>

  <!-- Filters -->
  <div class="bg-white p-3 md:p-4 rounded-lg shadow flex flex-col md:flex-row md:items-center gap-3 md:gap-4 sticky top-0 z-50">
    
    <!-- Search -->
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search products..."
      class="w-full px-4 py-2 border rounded-lg text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
    />

    <div class="flex flex-col sm:flex-row gap-3 w-full md:w-auto">
      <!-- Category -->
      <select
        [(ngModel)]="selectedCategory"
        class="px-4 py-2 border rounded-lg text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
      >
        <option value="">All Categories</option>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>

      <!-- Sort -->
      <select
        [(ngModel)]="sortBy"
        class="px-4 py-2 border rounded-lg text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
      >
        <option value="name">Sort by Name</option>
        <option value="priceLowHigh">Price: Low to High</option>
        <option value="priceHighLow">Price: High to Low</option>
      </select>
    </div>
  </div>

  <!-- Product Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4 mt-4">
    <div
      *ngFor="let product of filteredProducts()"
      class="bg-white rounded-xl shadow hover:shadow-lg transition overflow-hidden"
    >
      <!-- Image -->
      <img [src]="product.image" alt="" class="w-full h-80 sm:h-148 object-cover p-4" />

      <!-- Card Body -->
      <div class="p-3 sm:p-4">
        <h2 class="text-base sm:text-lg font-semibold text-gray-800">{{ product.name }}</h2>
        <p class="text-gray-500 text-xs sm:text-sm">{{ product.description }}</p>

        <!-- <p class="text-indigo-600 font-bold text-lg mt-1 sm:mt-2">₹{{ product.price }}</p> -->

        <!-- <div class="flex items-center text-xs sm:text-sm mt-1">
          ⭐ {{ product.rating }}/5
        </div> -->

        <button
          class="w-full mt-3 bg-indigo-600 text-white py-2 text-sm rounded-lg hover:bg-indigo-700 active:scale-95 transition"
        >
          View Product Details
        </button>
      </div>
    </div>
  </div>

  <!-- Empty State -->
  <div *ngIf="filteredProducts().length === 0" class="text-center text-gray-500 py-10">
    No products found.
  </div>
</div>
